@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
}

.container-fluid {
    margin: 0 15%;
}

h1 {
    margin-bottom: 30px;
}

h3 {
    font-size: 20px;
}

#title {
    width: 30%;
}

#name {
    width: 30%;
}

#body {
    width: 60%;
}

.product-picture {
    float: left;
    height: 140px;
    margin-right: 20px;
    clear: both;
}
#errorMessage {
    display: none;
}

.spacing {
    height: 50px;
}

body ul {
    list-style-type: none;
}